<div class="container">
  <div class="row">
    <div class="col">
      <h1>Loggout out of SP</h1>
      <%= render partial: 'spinner' %>
      <%= form_tag(@url, style: "position: absolute; left: -10000px; top: -10000px;") do %>
        <%= @saml_params.each do |(key, value)| %>
          <%= hidden_field_tag key, value %>
        <% end %>
      <% end %>
      <%= debug @saml_builder.build.to_xhtml %>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  window.onload = function() {
    window.setTimeout(function() { document.forms[0].submit(); }, 5000);
  };
<% end %>
