<h1>Logging Out of IDP</h1>
<%= form_tag(@saml_response.destination, style: "position: absolute; left: -10000px; top: -10000px;") do %>
  <%= hidden_field_tag("SAMLResponse", @saml_response.serialize) %>
  <%= hidden_field_tag("RelayState", @relay_state) %>
  <%= submit_tag "Submit" %>
<% end %>

<%= javascript_tag do %>
  window.onload= function () {
    document.forms[0].submit();
  };
<% end %>
