<div class="container">
  <div class="row">
    <div class="col">
      <h1>Login</h1>
      <%= form_for :user, url: session_path, method: :post do |form| %>
        <div class="form-group">
          <%= form.email_field :email, class: 'form-control', placeholder: User.human_attribute_name(:email), autofocus: true, required: :required %>
        </div>
        <div class="form-group">
          <%= form.password_field :password, class: 'form-control', placeholder: User.human_attribute_name(:password), required: :required %>
        </div>
        <% @raw_params.each_pair do |key, value| %>
          <%= hidden_field_tag key, value %>
        <% end %>
        <%= form.button t('.login'), type: 'submit', class: 'btn btn-primary', data: { disable_with: t('.loading') } %>
      <% end %>
    </div>
  </div>
</div>
